.the-mission {
  padding-top: 96px;
  padding-bottom: 109px;

  .heading {
    margin-bottom: 80px;

    h4 {
      font-family: $g-ff-museo-700;
      font-weight: bold;
      font-size: 24px;
      color: $black;
      margin-bottom: 20px;
    }

    p {
      font-family: $g-ff-museo-500;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: $black;
      margin-bottom: 0;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;


    &-left,
    &-right {
      width: calc(100%/3);
      z-index: 1;

      .number {
        min-width: 27px;
        width: 27px;
        min-height: 27px;
        height: 27px;
        border-radius: 100%;
        border: 1px solid $dodger-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $g-ff-museo-300;
        font-weight: 300;
        font-size: 12px;
        color: $dodger-blue;
      }

      span {
        font-family: $g-ff-museo-300;
        font-weight: 300;
        font-size: 12px;
        color: black;
      }

      ul {
        li {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          margin-bottom: 40px;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-left {
      margin-right: -50px;

      ul {
        li {
          text-align: right;

          .number {
            margin-left: 21px;
          }
        }
      }
    }

    &-middle {
      min-width: 420px;
      width: 420px;
      min-height: 420px;
      height: 420px;
      background-color: #f4fbff;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 92px;
      }
    }

    &-right {
      margin-left: -50px;

      ul {
        li {
          text-align: left;

          .number {
            margin-right: 21px;
          }
        }
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .the-mission {
    padding-top: 50px;
    padding-bottom: 40px;

    .heading {
      margin-bottom: 40px;
    }

    .content {
      flex-direction: column;

      &-left,
      &-right {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }

      &-left {
        ul {
          li {
            flex-direction: row-reverse;
            text-align: left;

            .number {
              margin-right: 22px;
              margin-left: 0;
            }
          }
        }
      }

      &-middle {
        display: none;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .the-mission {
    padding-top: 50px;
    padding-bottom: 40px;

    .heading {
      margin-bottom: 40px;
    }

    .content {
      flex-direction: column;

      &-left,
      &-right {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }

      &-left {
        ul {
          li {
            flex-direction: row-reverse;
            text-align: left;

            .number {
              margin-right: 22px;
              margin-left: 0;
            }
          }
        }
      }

      &-middle {
        display: none;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .the-mission {
    .content {
      &-left {
        margin-right: -120px;
      }

      &-right {
        margin-left: -120px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}