.g-cl-white {
  color: var(--white) !important;
}

.g-bg-white {
  background-color: var(--white) !important;
}

.g-cl-black {
  color: var(--black) !important;
}

.g-cl-black-08 {
  color: rgba(var(--black), .8) !important;
}

.g-bg-black {
  background-color: var(--black) !important;
}

.g-cl-dark-grey-blue {
  color: var(--dark-grey-blue) !important;
}

.g-bg-dark-grey-blue {
  background-color: var(--dark-grey-blue) !important;
}

.g-cl-pale-sky-blue {
  color: var(--pale-sky-blue) !important;
}

.g-bg-pale-sky-blue {
  background-color: var(--pale-sky-blue) !important;
}

.g-cl-bluish {
  color: var(--bluish) !important;
}

.g-bg-bluish {
  background-color: var(--bluish) !important;
}

.g-cl-grapefruit {
  color: var(--grapefruit) !important;
}

.g-bg-grapefruit {
  background-color: var(--grapefruit) !important;
}

.g-cl-ice-blue {
  color: var(--ice-blue) !important;
}

.g-bg-ice-blue {
  background-color: var(--ice-blue) !important;
}

.g-cl-dark-navy-blue {
  color: var(--dark-navy-blue) !important;
}

.g-bg-dark-navy-blue {
  background-color: var(--dark-navy-blue) !important;
}

.g-cl-piss-yellow {
  color: var(--piss-yellow) !important;
}

.g-bg-piss-yellow {
  background-color: var(--piss-yellow) !important;
}

.g-cl-dodger-blue {
  color: var(--dodger-blue) !important;
}

.g-bg-dodger-blue {
  background-color: var(--dodger-blue) !important;
}

.g-metalic-blue {
  color: var(--metallic-blue) !important;
}

.g-bg-metalic-blue {
  background-color: var(--metalic-blue) !important;
}

.g-cl-text-gray {
  color: #6d7278;
}

.g-cl-text-gray-light {
  color: #cecece;
}