/**
  Color
 */
:root {
  --white: white;
  --dark-grey-blue: #2f4d60;
  --pale-sky-blue: #c2e7ff;
  --black: #171717;
  --bluish: #2d8fcc;
  --grapefruit: #ff5252;
  --ice-blue: #eef8ff;
  --dark-navy-blue: #000e1d;
  --piss-yellow: #ccc918;
  --dodger-blue: #38b3ff;
  --metallic-blue: #426880;
}

$white: white;
$dark-grey-blue: #2f4d60;
$pale-sky-blue: #c2e7ff;
$black: #171717;
$bluish: #2d8fcc;
$grapefruit: #ff5252;
$ice-blue: #eef8ff;
$dark-navy-blue: #000e1d;
$piss-yellow: #ccc918;
$dodger-blue: #38b3ff;
$metallic-blue: #426880;